services:
  ansible-controller:
    build: .
    container_name: ansible-controller
    volumes:
      - .:/ansible
      # اشتراک‌گذاری سوکت داکر برای مدیریت کانتینرها بدون SSH
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - ansible-net
    command: tail -f /dev/null

  alma-target:
    image: almalinux:9
    container_name: alma-target
    # اضافه کردن قابلیت‌های سیستمی برای نصب سرویس‌هایی مثل Nginx
    privileged: true
    cap_add:
      - SYS_ADMIN
    networks:
      - ansible-net
    command: /usr/sbin/init

networks:
  ansible-net:
    driver: bridge