{% set mirrors = [
    ('Fama-server', 'https://repo.mirror.famaserver.com/almalinux/'),
    ('host-baran', 'https://mirror.hostbaran.com/almalinux/'),
    ('pars-host', 'https://almalinux.pars.host/'),
    ('aminDC', 'https://mirror.aminidc.com/almalinux/'),
    ('rootlicence', 'https://mirror.rootlicense.com/almalinux/'),
    ('sindad', 'https://ir.almalinux.sindad.cloud/')
] %}

{% for dir in ['BaseOS', 'AppStream'] %}
{% for mirror_name, mirror_url in mirrors %}
[yumrepo-{{ mirror_name }}-{{ dir }}]
name={{ mirror_name }} AlmaLinux 9 Repository {{ dir }}
baseurl={{ mirror_url }}$releasever/{{ dir }}/x86_64/os/
failovermethod=priority
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-AlmaLinux
metadata_expire=86400
retries=3
timeout=10

{% endfor %}
{% endfor %}